.container
  .row
    .top
      .col-xs-1
        %h1.title
          %a{:href => root_path} Ynov
      .col-xs-3
        %h2.title
          - Category.all.each do |category|
            %a{href: category_path(category.id)}= category.name

      .col-xs-4.col-xs-offset-0
        = form_tag posts_path, method: :get, class: 'form form-horizontal' do
          .form-group
            .col-xs-5
              = text_field_tag 'keywords', nil, class: 'form-control', placeholder: "search"
            .col-xs-2
              = submit_tag "search", class: 'btn btn-success'

      .col-xs-2.col-xs-offset-0
        - if user_signed_in?
          %a{href: upload_path}= "Upload"
      .col-xs-4
        %div.pull-right
          - if user_signed_in?
            %a.logout{href: destroy_user_session_path, data: {method: 'delete'}}
              = t('logout')
            %a.my-account{href: user_path(current_user.id)}
              = t('my_account')
          - else
            %a.my-account{href: new_user_session_path}
              = 'Connexion'
            %a.my-account{href: new_user_registration_path}
              = 'Inscription'
