<div class='container'>
  <div class='row'>
    <% @posts.last(6).each do |post| %>
      <div class='col-xs-4'>
        <div class='image'>
          <%= image_tag post.picture %>
          <div class='overlay'>
            <div class='heart'>

              <!-- CONTIENT UNE ERREUR QUE J'AI DU MAL À GÉRER -->
            <% if (!user_signed_in?) %>
              <%= link_to image_tag(heart("white")), "http://www.mysite.com/" %>
            <% elsif (Favorite.where("user_id = ?", :user_id).where("post_id = ?", :post_id).length > 0) %>
              <%= link_to image_tag(heart("white")), "http://www.mysite.com/" %>
            <% else %>
              heart("white")
              <!-- <%= link_to image_tag(heart("white")), "http://www.mysite.com/" %> -->
            <% end %>

            <% post.tags.each do |tag| %>
            <div >
              <%= tag.name %>


            </div>
            <% post.tags.each do |tag| %>
            <%= link_to(tag.name, "/posts?tag_id=#{tag.name}&commit=search") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
