<%= form_tag posts_path, multipart: true do %>

  <% if defined? @post %>
    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |msg| %>
        <%= msg %>
      <% end %>
    <% end %>
  <% end %>
  <br><br>
  <h2>Ajouter une image:</h2>
  <p><br>
  Categorie :
  <select name="post[category_id]">
    <% Category.all.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <br><br>
  Tags:
  <br><br>
  <% Tag.all.each do |tag| %>
    <input type="checkbox" name="post[tag_ids][]" value="<%= tag.id %>"><%= tag.name %><br>
  <% end %>
  <br><br>
  <input type="file" name="post[picture]" accept="image/*">
  <br><br>
  <%= submit_tag "Enregistrer" %>
<% end %>
